.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__image {
    width: 200px;
}

.container__title {
    font-size: 3rem;
    margin: 12px 0;
    color: #738bab;
}